<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCegSCVXgz_oCtqRJAKYKCuocX2EQtzMH0</string>
	<key>GCM_SENDER_ID</key>
	<string>970022121657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.greenstack</string>
	<key>PROJECT_ID</key>
	<string>greenstack-fc700</string>
	<key>STORAGE_BUCKET</key>
	<string>greenstack-fc700.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970022121657:ios:a1a3c1669a9b2ab0e76b68</string>
	<key>DATABASE_URL</key>
	<string>https://greenstack-fc700-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>